.App {
  background-color: white;
  color: black;
}

.App.modo-oscuro {
  background-color: black;
  color: rgb(255, 255, 255);
}

.App.modo-oscuro h2 {
  color: white; 
}

.App.modo-oscuro section {
  background-color: black; 
}
