/* App.css */
.App {
  /* Estilos por defecto */
  background-color: white;
  color: black;
  /* Otros estilos... */
}

.App.modo-oscuro {
  /* Estilos para el modo oscuro */
  background-color: black;
  color: rgb(255, 255, 255); /* Cambia el color del texto a blanco (255, 255, 255) */
  /* Otros estilos... */
}

/* Estilos específicos para elementos h2 en modo oscuro */
.App.modo-oscuro h2 {
  color: white; /* Color de texto blanco para h2 en modo oscuro */
}

/* Estilos específicos para elementos section en modo oscuro */
.App.modo-oscuro section {
  background-color: black; /* Fondo negro para section en modo oscuro */
  /* Otros estilos... */
}
